*{
    margin: 0;
    padding: 0;
}
body{
    background-color:floralwhite;
}
.header{
font-size:35px;
display: flex;
justify-content: center;
margin-bottom: 5rem;
margin-top: 2rem;
font-weight: 900;
}
.dark{
 background-color: #222;
 color: #e6e6e6;
    .quote{
        background-color: #222;
        color: #e6e6e6;
     }
 }
.quote{
    margin: auto;
    height: 20rem;
    width: 90rem;
    background-color: aliceblue;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.btn{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    height: 35px;
    line-height: 1.15;
    overflow: hidden;
    padding: 2px 25px;
    margin-left: 5px;
    border-radius: 10px;
    outline: none;
    font-weight: 600;
    margin-top: 20px;

}
.btn:hover{
    background-color: bisque;
}
#switch{
    margin-left: 5rem;
    margin-top: 2rem;
}
.control{
    display: flex;
    justify-content:space-evenly;

}
.bottom{
    display: flex;
    justify-content: space-evenly;
}


@media screen and (max-width: 600px) {
    .quote {
        padding: 0.5;
      width: 20rem;
      text-overflow: ellipsis;
      
    }
  
    .btn {
      font-size: 14px;
    }
  
    #switch {
      margin-left: 7rem;
    }
  }

